doctype html
html(lang="en")
  head
    meta(name="description" content="Alkaw")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title= "Alkaw"

    script(src="//use.typekit.net/hwe5whk.js")
    script try{Typekit.load();}catch(e){}

    link(rel="stylesheet" href="./css/main.css")
    link(rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon")
body
  block content

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44982428-3', 'alkaw.com');
    ga('send', 'pageview');
  block script